<%= form_for(@crime_report) do |f| %>
  <% if @crime_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@crime_report.errors.count, "error") %> prohibited this crime_report from being saved:</h2>

      <ul>
      <% @crime_report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br>
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="field" >
    <%= f.label :address %><br>
    <input id="crime_report_address" names="crime_report[address]" placeholder="Address" type="text" />
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude, :placeholder => 'Will be Calculated if Blank' %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude, :placeholder => 'Will be Calculated if Blank' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
