Something.
<!-- 
<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @crime_report.user %>
</p>

<p>
  <strong>Body:</strong>
  <%= @crime_report.body %>
</p>

<p>
  <strong>Address:</strong>
  <%= @crime_report.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @crime_report.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @crime_report.longitude %>
</p>

<%= link_to 'Edit', edit_crime_report_path(@crime_report) %> |
<%= link_to 'Back', crime_reports_path %>

-->